<section style="background-color: #2779e2;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-8">

                <h1 class="text-white">Claim Submission</h1>

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm-3">

                                <h6 class="mb-0">Member</h6>

                            </div>
                            <div class="col-sm-6">
                                <select class="form-select form-select-lg" [(ngModel)]=claim.memberId>
                                    <option *ngFor="let member of members" [value]="member.id">
                                        <span>{{member.firstName}}</span>
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">
                            <div class="col-sm-3">

                                <h6 class="mb-0">Physician</h6>

                            </div>
                            <div class="col-sm-6">

                                <select class="form-select form-select-lg" [(ngModel)]=claim.physicianId>
                                    <option *ngFor="let physician of physicians" [value]="physician.physicianId">
                                        <span>{{physician.physcianName}}</span>
                                    </option>
                                </select>
                            </div>
                        </div>

                        <hr>
                        <div class="row align-items-center">
                            <div class="col-sm-3">

                                <h6 class="mb-0">ClaimType</h6>

                            </div>
                            <div class="col-sm-6">

                                <input type="text" [(ngModel)]=claim.claimType class="claimType"
                                    class="form-control form-control-lg" />

                            </div>
                        </div>

                        <hr>

                        <div class="row align-items-center">
                            <div class="col-sm-3">

                                <h6 class="mb-0">ClaimAmount</h6>

                            </div>
                            <div class="col-sm-6">

                                <input type="text" [(ngModel)]=claim.claimAmount class="claimAmount"
                                    class="form-control form-control-lg" />

                            </div>
                        </div>
                        <hr>

                        <div class="row align-items-center">
                            <div class="col-sm-3">

                                <h6 class="mb-0">ClaimDate</h6>

                            </div>
                            <div class="col-sm-6">

                                <input type="text" [(ngModel)]=claim.claimDate class="claimDate"
                                    class="form-control form-control-lg" />

                            </div>
                        </div>

                        <hr>

                        <div class="row align-items-center">

                            <div class="col-sm-3">

                                <h6 class="mb-0">Remark</h6>

                            </div>

                            <div class="col-sm-6">

                                <input type="text" [(ngModel)]=claim.remark class="remark"
                                    class="form-control form-control-lg" />

                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">

                            <div class="col-sm-3">

                                <h6 class="mb-0">Status</h6>

                            </div>

                            <div class="col-sm-6">

                                <input type="text" [(ngModel)]=claim.status class="status"
                                    class="form-control form-control-lg" />

                            </div>
                        </div>
                        <hr>




                        <div class="col-sm-6">
                            <button type="submit" (click)="save()" class="btn btn-primary">submit</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>




</section>